

.table-bordered tr:nth-of-type(2n){
    background-color: #dff0d8;
}

.table-bordered tr:nth-of-type(2n-1){
    background-color: #fff;
}


.table-bordered tr:first-of-type  {
    background-color: #4FC3A1;
    color: #ffffff;
}

.table-bordered tr td{
    border: none;
}

.table-bordered tr th{
    border: none;
}

.text-center a.btn{
    color: white;
    background-color: #324960;
    border-color: #324960;
}

.col-lg-12 .text-center{
    padding-bottom: 8px;
}

.user-edit{
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #212529;
}

.user-edit i{
    color: #212529;
}


.resultaatbtn{
    color: #fff;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.neg{
    
    background-color: #dff0d8 !important;
}

.neg c{
    text-transform: capitalize;
    font-weight: bold;
}

.pos c{
    text-transform: capitalize;
    font-weight: bold;
}

.pos{
    background-color: rgb(245, 212, 212) !important;
}

.nav-link{
    color: #fff !important;
    border-bottom: 2px solid #00000000;
}

.nav-link:hover{
    color: #7ce6c6 !important;
    border-bottom: 2px solid #7ce6c6;
}

.act-gebr{
    width: 160px;
}

.negatief-result{
    color: green;
    text-transform: capitalize;
    font-weight: bold;
}

.positief-result{
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}

.show-reg tr th{
    border: 1px solid #1557247a !important;
    background-color: #dff0d8;
}

.show-reg tr td{
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.show-reg tr{
    background-color: #f4f6f9!important;
    color: #000 !important;
}

.pdf-qr img{
    width: 80vw;
    max-width: 450px;
}

.pdf-table{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.pdf-table th{
    border: 1px solid #1557247a !important;
    background-color: #dff0d8 !important;
}

.pdf-table td{
    border-top: 1px solid #dbdbdb !important;
    border-bottom: 1px solid #dbdbdb !important;
    border-right: 1px solid #dbdbdb !important;
}

.reg-o-table{
    margin-top: -18px;
}

.res-o-table{
    margin-top: -33px;
}